
* {box-sizing: border-box;}
body{background-color: #EDEFEE;
  font-family: quicksand;
}
main{
  margin: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

li {
  float: left;
  color: white;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li h4{margin-bottom: 0px;
      padding-top: 30px;
    padding-left: 10px}




/*Headbar*********************/
#baby{
  font-size: 40px;
  background-color: #568130;
  padding: 4px 26px;
}
#baby:hover{
  background-color: #9FC89C;
  color: white;
}
#help{
font-size: 40px;
padding: 4px 16px;
color: white;

}
#help:hover{

}
 

/*Charts*/
.chart-box, .pie-box, .total-box, .chart-box-wrapper {
  float: left;
  padding: 0px;
  height: 42vh;
  min-height: 400px;
  background-color: white;
  border:solid 20px #EDEFEE;
}
.chart-box-wrapper{
  border: none
}


.chart-box{
  text-align: center;
  width: 100%;
  min-width: 650px;
}
.pie-box, .total-box{
  width: 100%;

}
#total{
  background-color: #2E282A;
  
}
#small{
  padding: 4px;
  background-color: #568130;
  color: white;
}
@media only screen and (max-width: 440px) {
  ul {display: flex}
  li h4{
    margin:0px;
    padding-top: 10px
  }
}
@media only screen and (max-width: 610px) {
  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
   }

.chart-box{
  text-align: left
}
}

@media only screen and (min-width: 725px){
.pie-box{
  width: 60%;
}
.total-box{
 width: 40%
}
}
@media only screen and (min-width: 925px) {
  /* Tablets and larger screens */
.chart-box, .chart-box-wrapper{
  width: 80%;
  float: none;
  margin: auto;
  min-width: 650px;
}

}

@media only screen and (min-width: 1350px) {
  /* Desktop and larger screens */

 .chart-box, .chart-box-wrapper{
   width: 50%;
   float: left;
   margin: 0;
 }
}

#year, #month, #date-of-month, #day-of-week,#total-number{
  width: 100%;
  height:80%;
 
 

}
#total-number{
  font-size: 60px;
  background-color: #2E282A;
  color: white;
  text-align: center;
  font-weight: bold;
}
.total{
  font-size: 40px;
}


