.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.chart-box, .pie-and-total-box {
  float: left;
  padding: 0px;
  height: 45vh;
  min-height: 300px;
 
}

/* small screen devices */
.chart-box{
  text-align: center;
  width: 100%;
  min-width: 650px;
}
.pie-and-total-box{
  width: 100%;
}

@media only screen and (min-width: 725px) {
  /* Tablets and larger screens */
.chart-box{
  width: 80%;
  float: none;
  margin: auto;
}
.pie-and-total-box{
  width: 49%;
}

}

@media only screen and (min-width: 1325px) {
  /* Desktop and larger screens */
 
 .chart-box{
   width: 50%;
   float: left;
   margin: 0;
 }

}

#year, #month, #date-of-month, #day-of-week,#total-number{
  width: 95%;
  height:95%;
  border:solid;
  border-radius: 5px;
  margin: 20px;
}
#total-number{
  font-size: 50px;
}



